body{
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    background-color:  #0d2438;
    color: #fff;
    margin: 0 70px;
   
}

.myName{
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.navabar{
    color: #fff;
}

.nav{

 margin: auto;
 gap: 15px;
 font-size: 1.2rem;
 font-weight: 800;
 color: #fff;

}

.nav-link{
    color: white;
}

.btn{
   background-color: #6366f1;
   padding: 10px;
   height: 100%;
   text-align: center;
   color: white;
   border-radius: 5px;
   

}
.btn:hover{
    background: #4144ef;
}

.navbar-toggler {
    background-color: white;
  }
  .project{
    margin-top: 10%;
}


@media only screen and (max-width: 600px) {


    body{
        margin: 0;
    }
    .nav-link{

        border-bottom: 2px solid #6365f149;
    }

    .btn{
      padding: 10px;
      margin-top: 10px;
      width:30%;
      overflow: hidden;
      flex: end;
      align-items: end;
      justify-content: flex-end;
    }
  }